{% extends 'base.html' %}
<!This will be the about page for the lacrosse website.>
{% block content %}
    <h2>{% block title %} About{% endblock %}</h2>
    <div>
        <p>The lacrosse teams with the most National Championships are:</p>
        <ol>
          <li>Syracuse - 10</li>
          <li>Johns Hopkins - 9</li>
          <li>Virginia & Princeton (tie) - 6</li>
        </ol>
        <p>The positions on the lacrosse field are:</p>
	<ul>
          <li>Attack</li>
          <li>Midfield</li>
          <li>Defense</li>
          <li>Goaltender</li>
       </ul>
    </div>
{% endblock %}