{% extends 'base.html' %}
<!This will be the administration page for the registration website.>
{% block content %}
    <h2>{% block title %} Administration{% endblock %}</h2>
    <div>
        <table>
  <tr>
    <th>Student ID</th>
    <th>Student Name</th>
    <th>Courses Registered</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
    </div>
{% endblock %}