{% extends 'base.html' %}
<!This will be the courses page for the registration website.>
{% block content %}
    <h2>{% block title %} Courses{% endblock %}</h2>
    <div>
        <table>
  <tr>
    <th>Course Number</th>
    <th>Description</th>
    <th>Professor</th>
    <th>Seats</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
    </div>
{% endblock %}