{% extends 'base.html' %}
<!This will be the about page for the lacrosse website.>
{% block content %}
    <h2>{% block title %} Log-in{% endblock %}</h2>
    <div>      
      <form action="" method="post">
	<div class="msg">{{ msg }}</div>
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      
    </div>
{% endblock %}