{% extends 'base.html' %}
<!This will be the courses page for the registration website.>
{% block content %}
<h2>{% block title %} Bachelor's Degree in Computer Science Course Requirements {% endblock %}</h2>
<div>
  <table>
    <table id="Courses" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.description}}</td>
            <td>{{ course.professor}}</td>
            <td><input type="submit" value="Enroll" name="Enroll"/></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
