{% extends 'base.html' %}

{% block content %}

<div class="container-xl">
<div class="card text-center">
    <div class="card-header">
      WELCOME TO THE VMU EXPERIENCE
    </div>
    <div class="card-body">
      <h5 class="card-title">Discover Our University</h5>
      <p class="card-text">Welcome to Villatoro Marquis University.
        We are a proud Information Technology Institution founded in 2022 with a dedication to serving our
        student population! Offerring affordable online and in-person programs and student services to advance your education. Join us and let us begin this journey to successful careers and endeavors!</p>
      <a href="{{url_for('courses')}}" class="btn btn-primary">Find out about our courses</a>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>
{% endblock %}
